html{
	font-size: 50px;
}

#mobile_header{
	padding-left: 10px;
	flex: 1;
	align-items: center;
	background-color: #f6f6f6;
}

#mobile_header a img{
	height: 50px;
	width: 50px;
	vertical-align: top;
}

#mobile_header a span{
	font-size: 30px;
	line-height: 50px;
	padding-left: 5px;
}

#mobile_header i{
	font-size: 0.5rem;
	float: right;
	margin-right: 0.3rem;
	margin-top: 0.3rem;
	color: #2db7f5;
}
